<div class="admin-sidebar" style="background-image: url(https://images.unsplash.com/flagged/photo-1567400358593-9e6382752ea2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80)">
    <div class="logo">
        <img routerLink= "/" src="../../../assets/logo.png">
            <ul>
                <li>
                    <a routerLink="/"><i class="pi pi-shopping-cart"></i> Dashboard</a>
                </li>
                <li>
                    <a routerLink="/products"><i class="pi pi-tablet"></i> Products</a>
                </li>
                <li>
                    <a routerLink="/categories"><i class="pi pi-external-link"></i> Categories</a>
                </li>
                <li>
                    <a routerLink="/orders"><i class="pi pi-book"></i> Orders</a>
                </li>
                <li>
                    <a routerLink="/users"><i class="pi pi-user"></i> Users</a>
                </li>
                <li>
                    <a class="Logout" (click)="logOut()"><i class="pi pi-sign-out"></i> Logout</a>
                </li>
            </ul>
       
    </div>
    
</div>